/* LUULTAVASTI PARAS TAPA HOITAA HEADER + MAIN, ON YHDISTÄÄ NE SAMAAN EIKÄ
LAITTAA ERIKSEEN. HEADER LOGO JA LINKIT YKSI LAATIKKO, ALLA TOINEN LAATIKKO
KONTENTILLE. FLEX COLUMN. SIIRRÄ FRONT-IMAGE HEROON ILMAN ERILLISTÄ DIV:IÄ*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vh;
}

ul {
  display: flex;
  list-style-type: none;
}

.header {
  display: flex;
  margin-top: 2vh;

  justify-content: space-between;
}

.header-logo img {
  width: 60%;
  font-size: 24px;
  color: #f9faf8;
}
.header-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 18px;
  color: #e5e7eb;
}
ul {
  gap: 5vh;
}

.hero {
  background-color: #1f2937;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  padding: 0vh 25vh 0vh 25vh;
}
.title {
  /*max-width: 35vh;*/
  display: flex;
  align-items: flex;
  justify-content: space-evenly;
  gap: 15vh;
  margin: auto;
}
.main-content {
  display: flex;
  flex-direction: column;

  align-items: flex-start;

  flex: 1;
  gap: 2vh;
}
.front-image {
  /*max-width: 35vh;*/
  display: flex;
  flex: 1;
}
img {
  max-width: 100%;
  align-self: center;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

p,
a {
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
}

.signup {
  background-color: #3882f6;
  color: white;
  border-style: none;
  padding: 4px 14px 4px 14px;
  border-radius: 5px;
}
.cards-section {
  display: flex;
  flex-direction: column;
  gap: 3vh;
  padding: 3vh;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 8vh;
}
.cards-header {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  margin: auto;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  flex: 1;
  max-width: 20vh;
}

.card img {
  border-radius: 25px;
  border: 2px solid #3882f6;
}

.card p {
  color: #1f2937;
  font-size: 14px;
}
