/* LUULTAVASTI PARAS TAPA HOITAA HEADER + MAIN, ON YHDISTÄÄ NE SAMAAN EIKÄ
LAITTAA ERIKSEEN. HEADER LOGO JA LINKIT YKSI LAATIKKO, ALLA TOINEN LAATIKKO
KONTENTILLE. FLEX COLUMN. SIIRRÄ FRONT-IMAGE HEROON ILMAN ERILLISTÄ DIV:IÄ*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100vh;
}

ul {
  display: flex;
  list-style-type: none;
}

.header {
  display: flex;
  margin-top: 2vh;

  /*HARKITSE
  position: fixed;
  background-color: #1f2937;*/
}
.header-logo {
  flex: 1;
}
.header-logo img {
  max-width: 20%;
  align-self: center;

  color: #f9faf8;
}
.header-links {
  display: flex;

  align-items: center;
  font-size: 18px;
  color: #e5e7eb;
  margin-right: 18vh;
}
ul {
  gap: 5vh;
}

.hero {
  background-color: #1f2937;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  padding: 0vh 25vh 0vh 25vh;
}
.title {
  /*max-width: 35vh;*/
  display: flex;
  align-items: flex;
  justify-content: space-evenly;
  gap: 15vh;
  margin: auto;
}
.main-content {
  display: flex;
  flex-direction: column;

  align-items: flex-start;

  flex: 1;
  gap: 2vh;
}
.front-image {
  /*max-width: 35vh;*/
  display: flex;
  flex: 1;
}
img {
  max-width: 100%;
  align-self: center;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

p,
a {
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
}

.signup {
  background-color: #3882f6;
  color: white;
  border-style: none;
  padding: 4px 14px 4px 14px;
  border-radius: 5px;
  font-weight: 600;
}

.signup:hover {
  cursor: pointer;
}
.cards-section {
  display: flex;
  min-height: 60vh;
  flex-direction: column;
  justify-content: flex-start;
  gap: 7vh;
  padding: 3vh;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 8vh;
}
.cards-header {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  flex: 1;
  max-width: 20vh;
}

.card img {
  border-radius: 25px;
  border: 2px solid #3882f6;
}

.card p {
  color: #1f2937;
  font-size: 14px;
}

.quote-section {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4vh 4vh 4vh 4vh;
}

.quote {
  max-width: 80vh;
  padding: 3vh 3vh 1vh 3vh;
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  color: #1f2937;
  flex: 1 1 auto;
}

.quoteby {
  margin-left: 60vh;
}
.calltoaction {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4vh 4vh 4vh 4vh;
}

.calltoaction p {
  font-size: 14px;
}
.actionbox {
  display: flex;
  padding: 5vh;
  background-color: #3882f6;
  color: white;
  border-radius: 5px;
  line-height: 2.5vh;
}

.actionbox button {
  border: 1px solid white;
  background-color: #3882f6;
  color: white;
  border-radius: 5px;
  padding: 0vh 2vh 0vh 2vh;
  font-weight: 600;
  margin-left: 2vh;
}

.actionbox button:hover {
  cursor: pointer;
}

footer {
  background-color: #1f2937;
  text-align: center;
  color: white;
  padding: 3vh 3vh 3vh 3vh;
}
